$screen-sm-max: 'screen and (max-width: 767px)';

// values
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 14px;
$line-height: 20px;
$text-lighter: #777;
$text-darker: #111;
$bg-color: #f1f1f1;
$bg-color-light: #f5f5f5;
$border-color: gainsboro;

// selectors
$host:     ':host' !default;
$right:    '(.pick-le-right)' !default;
$top:      '(.pick-le-top)' !default;
$expanded: '([aria-expanded=true])' !default;
$anchor:   '.anchor' !default;
$popup:    '.popup' !default;
$title:    '.title' !default;
$close:    '.close' !default;
$tool:     'slot[name=pick-le-tool]::slotted(*)' !default;
$filter:   '.filter' !default;
$list:     '.list' !default;
$option:   '.option' !default;
$glyph:    '.glyph' !default;
$label:    '.label' !default;
$text:     '.text' !default;

%element {
    background-clip: border-box;
    background-color: inherit;
    box-sizing: border-box;
    color: inherit;
    display: block;
    font-family: $font-family;
    line-height: $line-height;
    font-size: $font-size;
    font-weight: normal;
    height: auto;
    margin: 0;
    opacity: 1;
    padding: 0; 
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-transform: inherit;   
    transform: none;
    width: auto;
}

#{$host} {
    position: relative;
	display: inline-block;
}

#{$anchor} {
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0;
    right: auto;
	width: 0;
    
    #{$host}#{$right} & {
        right: 0;
        left: auto;
    }
}

#{$popup} {
    @extend %element;
    
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    bottom: auto;
    width: 300px;
    z-index: 3000;
    border: 1px solid $border-color;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    touch-action: manipulation;
    transform: none !important;

    #{$host}#{$expanded} & {
        display: block;
        
        @media #{$screen-sm-max} {            
            z-index: 3000;
            display: flex;
            flex-direction: column;
        }
    }
    
    #{$host}#{$right} & {
        right: 0;
        left: auto;
    }
    
    #{$host}#{$top} & {
        top: auto;
        bottom: 100%;
    }
    
    @media #{$screen-sm-max} { 
        position: fixed;
        width: auto;
        max-width: none;
        top: 0;
        left: 0 !important;
        bottom: 0;
        right: 0 !important;
        margin: 0;
        border-radius: 0;
        border-width: 0;
    }
}

%tool {
    display: block;
    padding: 7px 10px;
    background-color: $bg-color;
    border-bottom: 1px solid $border-color;
    flex-shrink: 0;
    flex-grow: 0;
    line-height: 20px;
    vertical-align: bottom;
}

#{$title} {
    @extend %element;
    @extend %tool;
    
    color: $text-darker;
    font-weight: bold;
    vertical-align: middle;
    
    &::after {
        display: inline-block;
        width: 0;
        height: 0;
        font-size: 0;
        content: "";
        clear: both;
    }
    
    @media #{$screen-sm-max} {            
        padding: 15px 10px;
    }
}

#{$close} {
    @extend %element;
    
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: lighten($text-lighter, 25%);
    float: right;
    
    &:hover {
        cursor: pointer;
        color: $text-darker;
    }
    
    svg {
        width: 15px;
        height: 15px;
        display: inline-block;
        fill: currentColor;        
        
        @media #{$screen-sm-max} {            
            width: 20px;
            height: 20px;
        }
    }
}

#{$filter} {
    @extend %element;
    @extend %tool;
    
    &[aria-hidden=true] {
        display: none;
    }
    
    input {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        color: inherit;
        background-color: white;
        background-image: none;
        border: 1px solid #66afe9;
        border-radius: 4px;
        box-shadow: 
            inset 0 1px 1px rgba(0,0,0,.075),
            0 0 8px rgba(102,175,233,.6);
        transition: 
            border-color ease-in-out .15s,
            box-shadow ease-in-out .15s;
            
        &:focus {
            border-color: #66afe9;
            outline: 0;
            box-shadow: 
                inset 0 1px 1px rgba(0,0,0,.075),
                0 0 8px rgba(102,175,233,.6);
        }
    }
}

#{$tool} {
    @extend %element;
    @extend %tool;
}

#{$list} {
    @extend %element;
    
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 340px;
    background-color: white;
    position: relative;
    -webkit-overflow-scrolling: touch;
    
    @media #{$screen-sm-max} {  
        max-height: none;
        height: auto;
        flex-grow: 1;
        flex-shrink: 1;
    }
}

#{$option} {
    @extend %element;
    
    border: none;
    border-bottom: 1px solid $border-color;
    padding: 7px 25px;
    position: relative;
    cursor: pointer;
    
    &:hover, &:active, &:focus, &.highlighted {
        background-color: $bg-color-light;
        text-decoration: none;
        color: $text-darker;
        outline: none;
    }

    &[hidden] {
        display: none !important;
    }
        
    &.disabled {
        cursor: default;
    }
}

#{$glyph} {
    @extend %element;
    
    position: absolute;
    top: 7px;
    left: 0;
    right: auto;
    bottom: auto;
    width: 25px;
    height: 20px;
    text-align: center;
    
    svg {
        visibility: hidden;
        display: inline-block;
        height: 14px;
        width: 14px;
        margin-top: 3px;
        fill: currentColor;
    }
    
    #{$option}.selected & svg {
        visibility: visible;
    }
}

#{$label} {
    @extend %element;
    
    font-weight: bold;
}

#{$text} {
    @extend %element;
    
    #{$label} + & {
        font-size: 0.9em;
        margin-top: 7px;
        color: $text-lighter;
    }
}