$select: ':host' !default;
$expanded: '([aria-expanded=true])' !default;
$nofilter: '([no-filter])' !default;
$alignright: '([align-right])' !default;
$tool: 'slot[name=tool]::slotted(*)' !default;

#{$select} {
    position: relative;
    display: inline-block;
}

/*
    This ensures that the 'fallback content' and the <select>
    are actually attached to the DOM in browsers that have
    Shadow DOM polyfilled.
*/
.pickle-default-slot {
    display: none !important;
}

.pickle-select-anchor {
    min-width: 250px;
    z-index: 3000;
    height: 0;
}

.pickle-select-anchor,
.pickle-select-popup {
    width: 100%;
    position: absolute;
	top: 100%; 
    right: auto;
	bottom: auto;
	left: 0;
}

#{$select}#{$alignright} .pickle-select-anchor,
#{$select}#{$alignright} .pickle-select-popup {
    right: 0;
    left: auto;
}

.pickle-select-popup {   
    display: none;
    box-sizing: border-box;
    border: 1px solid gainsboro;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    outline: none;
    transform: none !important;
    
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #111;
    line-height: 20px;
    font-size: 14px;

    touch-action: manipulation;
}

#{$select}#{$expanded} .pickle-select-popup {
    display: block;
}

#{$select}#{$nofilter} .pickle-select-filter {
    display: none;
}

.pickle-select-title, 
.pickle-select-filter, 
#{$tool} {
    display: block;
    padding: 7px 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid gainsboro;
    flex-shrink: 0;
    flex-grow: 0;
    line-height: 20px;
}

.pickle-select-title {    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: #111;
    font-weight: bold;
}

.pickle-select-close {
    margin-left: auto;
    flex: 0 0 auto;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #BBB;
}

.pickle-select-close:hover {
    color: #111;
    cursor: pointer;
}

.pickle-select-close svg {
    width: 15px;
    height: 15px;
    display: inline-block;
    fill: currentColor; 
}

.pickle-select-filter input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: inherit;
    background-color: white;
    background-image: none;
    border: 1px solid #66afe9;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
        
.pickle-select-filter input:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.pickle-select-options {    
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 340px;
    background-color: white;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.pickle-optgroup {
    background-color: #f1f1f1;
    font-weight: bold;
    padding: 7px 7px 7px 28px;
    border-bottom: 1px solid gainsboro;
}

.pickle-option {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    border: none;
    border-bottom: 1px solid gainsboro;
    padding: 7px;
    cursor: pointer;
    color: #111;
    text-decoration: none;
    line-height: 20px;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.pickle-option[data-pickle-filtered] {
    display: none;
}

.pickle-option:hover,
.pickle-option:focus,
.pickle-option:active {
    background-color: #f7f7f7;
    text-decoration: none;
    outline: none;
    color: #111;
}

.pickle-option[data-pickle-highlighted] {
    background-color: steelblue;
    color: white;
}

.pickle-option-glyph {
    opacity: 0;
    height: 20px;
    width: 14px;
    margin-right: 7px;
    text-align: center;
    font-weight: bold;
    flex: 0 0 auto;
}

.pickle-option-glyph svg {
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-top: 3px;
    fill: currentColor;
}

.pickle-option-input {
    display: none;
}

.pickle-option[data-pickle-selected] .pickle-option-glyph {
    opacity: 1;
}

.pickle-option-contents {
    flex: 1 1 auto;
}

.pickle-option-label:not(:empty) {
    display: block;
    font-weight: bold;
}

.pickle-option-text:not(:empty) {
    display: block;
}

.pickle-option-label:not(:empty) + .pickle-option-text:not(:empty) {
    font-size: 90%;
    margin-top: 5px;
    color: #555;
}

.pickle-option[data-pickle-highlighted] .pickle-option-label:not(:empty) + .pickle-option-text:not(:empty) {
    color: white;
}