$select: 'pickle-select';
$expanded: '[aria-expanded=true]' !default;
$tool: 'slot[name=tool] > *' !default;

$option: 'pickle-option';
$hover: ':hover';
$active: ':active';
$focus: ':focus';
$highlight: '[data-pickle-highlight]';
$filtered: '[data-pickle-filtered]';

@import 'style.select.scss';
@import 'style.option.scss';